// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"


$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }
  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
  }
}

/* Icons */
@if $slick-font-family == "slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}



.ant-carousel{
  .slick-next,
  .slick-prev{
    &:before {
      font-family: $slick-font-family;
      font-size: 20px;
      line-height: 1;
      color: $slick-arrow-color;
      opacity: $slick-opacity-default;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .slick-prev{
    left: 10px!important;
    [dir="rtl"] & {
      left: auto;
      right: 10px;
    }
    &:before {
      content: $slick-prev-character;
      [dir="rtl"] & {
        content: $slick-next-character;
      }
    }
  }
  .slick-next{
    right: 10px!important;
    [dir="rtl"] & {
      left: 10px;
      right: auto;
    }
    &:before {
      content: $slick-next-character;
      [dir="rtl"] & {
        content: $slick-prev-character;
      }
    }
  }
  .slick-slider{
    padding-bottom: 0!important;
  }

  .slick-initialized{
    .slick-slide{
      //display: inline-block;
      .img-container{
        display: block;
        background-position: center;
        background-size: cover;
        height: 200px;
      }
      img{
        width: 100%;
      }
    }
  }
}






